        @import url(https://SAKryukov.github.io/publications/code/documentation.css);
        img { width: 70%; display: block; margin-left: auto; margin-right: auto; }
        p.extensible-markdown { border-top: solid thin darkgray; font-size: 80%; }
        table, td { border: solid thin black; border-collapse: collapse; font-size: 120%; }
        table { margin-left: 2em; }
        td { width: 1.4em; text-align: center; vertical-align: middle; }